@model ConsilientWebApp.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Edit Employee";
}

<h1>@ViewData["Title"]</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-6 col-lg-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <input type="hidden" asp-for="EmployeeId" />

            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="TitleExtension" class="form-label"></label>
                <input asp-for="TitleExtension" class="form-control" />
                <span asp-validation-for="TitleExtension" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input asp-for="IsProvider" class="form-check-input" type="checkbox" />
                <label asp-for="IsProvider" class="form-check-label"></label>
                <span asp-validation-for="IsProvider" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Role" class="form-label"></label>
                <select asp-for="Role" asp-items="Model.RolesSelectList" class="form-select"></select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input asp-for="IsAdministrator" class="form-check-input" type="checkbox" />
                <label asp-for="IsAdministrator" class="form-check-label"></label>
                <span asp-validation-for="IsAdministrator" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-link">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
