@using ConsilientWebApp.Models.AuthorizationModels
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["Title"] - Consilient Interventional Healthcare Web App
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConsilientWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>
<body>
    <header>
        <div class="logo-banner text-center py-2 bg-white">
            <img src="/consilientlogo.PNG" alt="logo" style="max-height: 40px" />
        </div>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    Consilient Interventional Healthcare Web App
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="PatientVisitsStaging" asp-action="Index">Patient Visits Submissions</a>
                        </li>
                        <li>
                            <a class="nav-link text-light" asp-area="" asp-controller="PatientVisits" asp-action="Index">Patient Visits</a>
                        </li>

                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Administration
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="adminDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="ServiceTypes" asp-action="Index">Service Types</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Insurances" asp-action="Index">Insurances</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Facilities" asp-action="Index">Facilities</a></li>
                                </ul>
                            </li>
                        }
                        
                    </ul>
                    <span class="navbar-text ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span class="navbar-text ms-auto">@User.Identity.Name</span>
                        }
                        else
                        {
                            <span class="navbar-text ms-auto">No user identity found.</span>
                        }
                    </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="main-wrapper d-flex">
        <div class="container flex-grow-1">
            <main role="main" class="pb-3">
                @await Html.PartialAsync("_Alerts")
                @RenderBody()
            </main>
        </div>

        <div class="summary-section">
            @RenderSection("Summary", required: false)
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Consilient Interventional Healthcare Web App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
