global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'consilient-api'
    static_configs:
      - targets: ['consilient.api:8091']
    metrics_path: /metrics
    scheme: https
    tls_config:
      insecure_skip_verify: true
