html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.container {
    flex: 1;
    max-width: 1400px; /* wider main section */
}

/* Sidebar aligned with container top */
.summary-sidebar {
    position: fixed;
    top: 70px; /* adjust to match your navbar height */
    right: 20px;
    width: 300px;
    background: #f8f9fa; /* Bootstrap light background */
    border-left: 1px solid #ddd;
    padding: 15px;
    height: calc(100% - 70px);
    overflow-y: auto;
}


.approved-row{
      background-color: #d4edda;
}

.summary-section {
    width: 300px; /* or whatever fits */
    margin-left: 20px;
    position: sticky;
    top: 70px; /* so it stays below the navbar */
}